header
{
    text-align: center;
    width: 1000px;
}
nav
{
    border: 1px solid black;
    width: 1000px;
}
nav ul
{
    text-align: center;
}
nav ul li 
{
    width: 100px;
    height: 25px;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    
}
section
{
    width: 1000px;
    height: 1000x;
    border: 1px solid black
}
#stats
{
    padding-left: 10px;
}
#date
{
    padding-left: 10px;
}