html
{
    margin-left: 10%;
    margin-right: 10%;
}
.margin
{
    margin: 10px;
}
header
{
    text-align: center;
    width: 100%;
    border: 1px solid black;
}
nav
{
    border: 1px solid black;
    width: 100%;
}
nav ul
{
    text-align: center;
}
nav ul li 
{
    width: fit-content;
    height: 25px;
    display: inline-block;
    text-align: center;
    
}
#Intro
{
    text-align: center;
}
#Intro h2
{
    padding-left: 10px;
}
#Intro p
{
    padding-left: 10px;
}
section
{
    height: 1000x;
    width: 100%;
    border: 1px solid black
}
section h1
{
    text-align: center;
    border: 1px solid black
}
article
{
    border: 1px solid black
}
.Stats
{
    text-align: left;
}
.Stats h2
{
    padding-left: 10px;
}
.Stats p
{
    padding-left: 10px;
}
.options h2
{
    padding-left: 10px;
  
}
.options h3
{
    padding-left: 10px;
}
.options p
{
    padding-left: 10px;
}
