header
{
    text-align: center;
    width: 1000px;
}
nav
{
    border: 1px solid black;
    width: 1000px;
}
nav ul
{
    text-align: center;
}
nav ul li 
{
    width: fit-content;
    height: 25px;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    
}
section
{
    height: 1000x;
    border: 1px solid black
}
#stats
{
    padding-left: 10px;
}
#date
{
    padding-left: 10px;
}
.options
{
    padding-left: 10px;
    padding-bottom: 10px;
}
.options h2
{
    padding-left: 10px;
  
}
.option h3
{
    padding-left: 10px;
}
.option p
{
    padding-left: 10px;
}
#Intro
{
    padding-left: 10px;
    text-align: center;
}
#Intro h2
{
    padding-left: 10px;
}
#Intro p
{
    padding-left: 10px;
}