html
{
    margin-left: 10%;
    margin-right: 10%;
}
header{
    border: 1px solid black;
}
h1 {text-align: center;}
h2 {text-align: center;}
h3{text-align: center;}
img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
}
div{
    align-content: center;
    align-self: center;
}
.north-south{ display: block;
    margin-left: auto;
    margin-right: auto;
}
.east-west{
    display: flex;
  justify-content: center;
  align-items: center;
}
.east-westBtn{
 display: inline-block;   
}
button {
    margin-left: 5px;
    margin-right: 5px;
}
#gameArea{
    border: 1px solid black;
}
#text{
    border: 1px solid black;
}
#textOutput{
    border: 1px solid black;
    height: 100px;
    overflow: auto;
}
#textOutput p {
    margin-left: 10px;
    margin-right: 10px;
}
#directions{
    border: 1px solid black;
}