html
{
    margin-left: 10%;
    margin-right: 10%;
}
h1 {text-align: center;}
h2 {text-align: center;}
h3{text-align: center;}
img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
}
div{
    align-content: center;
    align-self: center;
}
.north-south{ display: block;
    margin-left: auto;
    margin-right: auto;
}
.east-west{
    display: flex;
  justify-content: center;
  align-items: center;
}
.east-westBtn{
 display: inline-block;   
}
nav
{
    border: 1px solid black;
    width: 100%;
}
nav h1
{
    text-align: center;
}
nav h3
{
    text-align: left;
}
nav ul
{
    text-align: center;
}
nav ul li 
{
    width: fit-content;
    height: 25px;
    display: inline-block;
    text-align: center;
    
}
nav h4 
{
    text-align: left;
    margin-left: 10px;
}
nav h5 
{
    text-align: left;
    margin-left: 10px;
}
button {
    margin-left: 5px;
    margin-right: 5px;
}
#gameArea{
    border: 1px solid black;
}
#text{
    border: 1px solid black;
}
#directions{
    border: 1px solid black;
}